// load the base configuration
//exec default.cfg
r_decal_cullsize 1

// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec autoexec.cfg

//
// stuff command line statements
//
stuffcmds

// display the startup level
startupmenu

sv_unlockedchapters 99

//
con_enable 1
wait 5; showconsole; wait; incrementvar mat_antialias -100 100 1; hideconsole; wait 5; incrementvar mat_antialias -100 100 -1

tf_dashboard_slide_time 0.005
tf_mm_dashboard_slide_panel_step 0
cl_mainmenu_safemode 0

alias 1q "toggle mat_aaquality"
alias bb "map itemtest"
alias vv "itemtest"